body {
  background-color: lightyellow;

}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}

Home {
  display: flex;
  justify-content: center;
}