body {
    /* justify-content: center; */
    /* padding-left: 20%;
    padding-right: 20%; */
}


form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 25%;
}



/* #info {
    display: flex;
    flex-wrap: wrap;
} */

